{
  "rpc_https": "https://api.mainnet-beta.solana.com/",
  "primary_mint": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
  "primary_mint_symbol": "USDC",
  "secondary_mint": "So11111111111111111111111111111111111111112",
  "secondary_mint_symbol": "SOL",
  "price_update_seconds": 60,
  "trading_interval_minutes": 1,
  "slippage": 50,
  "telegram": false,
  "tg_bot_token": "",
  "tg_bot_uid": "",
  "verbose": true,
  "strategy": "default"
}
